<h1>This is the SecretPage!</h1>

<p>You found me!</p>

<img src="https://i.pinimg.com/originals/8a/aa/86/8aaa86b3e634180ca128c93c3dee976b.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">LogOut</a></li>