<h1>secret Page!</h1>

<p>You found me !</p>

<a href="https://magicseaweed.com/Miramar-Argentina-Surf-Report/2712/">Miramar</a>

<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">SignUp</a></li>
    <li><a href="/logout">LogOut</a></li>
</ul>
